{{template "dashboard"}}
    <main style="margin-top: 50px; width: 50%;">
        <form action="/addpost" method="post">
            <div class="container overflow-hidden">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Edit Post</label>
                    <textarea class="form-control" name="title" placeholder="Title" id="exampleFormControlTextarea1" cols="30" rows="1"></textarea><br>
                    <textarea class="form-control" name="message" placeholder="Body" id="exampleFormControlTextarea2" rows="3"></textarea>
                </div>
                <div id="publish" class="col-auto">
                    <input style="border: none;" type="submit" class="get-started-btn scrollto" value="Publish Article">
                </div>
            </div>
        </form>
    </main>
</body>
</html>