{{template "dashboard"}}
    <main style="margin: 100px 5%">
        <div class="container" style="margin: 2% auto;">
            <div class="row">
                <div class="col-6 bg-light p-3 border" style="margin-right: 15px ;">
                    <form action="/update" method="post">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Body</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                        <button type="submit" style="border: none;"> <a href="#" class="btn btn-primary">Go somewhere</a></button>
                    </form>
                    </div>

                <div class="col-5 bg-light p-3 border delete">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>