{{template "header"}}
    <main style="margin: 100px 5%">
        <div class="container center" style="width: 50%">
            <div class="row">
                <div class="col-12 form-signin">
                    <form action="/login" class="text-center" method="post">
                        <h1 class="h3 mb-3 fw-normal">Kitchen Mania</h1>
                        <div class="form-floating" style="margin: 10px;">
                            <input type="Email" class="form-control" id="floatingEmail" name="email" placeholder="Email" value="{{.Email}}">
                            <label for="floatingPassword">Email</label>
                        </div>

                        <div class="form-floating" style="margin: 10px;">
                            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" value="{{.PassWord}}">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center">
                            <p>You don't have an account<a href="/signup" style="margin-left: 5px;" class="credits">signup</a></p>
                            <button class=" btn btn-lg get-started-btn scrollto" type="submit">Login</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>